.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/test-20171001T123848log
addressbook-web-tests/test-20171001T125419log
addressbook-web-tests/test-20171001T125536log
addressbook-web-tests/test-20171001T164306log
addressbook-web-tests/test-20171001T164817log
addressbook-web-tests/test-20171001T164942log
